
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
}

nav ul {
  display: flex;     
  gap: 30px;        
  list-style: none;  
  margin-top: 10px;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  font-family: source sans pro, sans-serif;
  font-weight: 700;
}

h2 {
  font-family: source sans pro, sans-serif;
  font-weight: 700;
}

p {
  font-family: source sans pro, sans-serif;
  font-weight: 400;
}

.space {
    margin: 70px 0 30px 0;
}

.banner {
     background-image: linear-gradient(rgba(41, 48, 61, 0.5), rgba(7, 22, 41, 0.5)),url(images/headphones_hero_1.jpg);
     color: #ffffff;

}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 20px;
}

button {
    margin:20px auto;
    border-radius: 25px;
    padding: 15px 40px;
    border: none;
    background-color: #FF6565;
    cursor: pointer;
    color: white;
    font-family: source sans pro, sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: opacity 0.2s ease;

}

button:hover,
button:active {
    opacity: 0.9;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:active {
    color: #FF6565;
}

.banner_section {
    padding: 100px;
}

.what_we_do {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 100px 40px;
  flex-wrap: wrap;
}

.card {
    margin-right: 70px;
}

.our_results {
    padding: 100px 20px;
    margin: 0 auto;
    background-image:linear-gradient(rgba(41, 48, 61, 0.5), rgba(7, 22, 41, 0.5)), url(images/headphones_hero_2.jpg);
    background-size: cover;
  background-position: center;
    color: #ffffff;
}

.pentagons {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 30px;
}

.pentagon {
    width: 190px;
    height: 190px;
    background-color: #FF6565;
    clip-path: polygon(
        50% 0%,
        100% 38%,
        82% 100%,
        18% 100%,
        0% 38%
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

.pentagon {
    position: relative; /* IMPORTANT */
    width: 190px;       /* adjust to match Figma */
    height: 190px;
    font-family: source sans pro, sans-serif;
    font-weight: 700;
}


.percent {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.label {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 14px;
}



.contact-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;   /* THIS centers the form */
    gap: 15px;
}

.contact-form label {
    text-align: left;
    font-size: 14px;
    color: #071629;
    margin-bottom: -10px;
}



.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;                 /* remove full border */
    border-bottom: 1px solid #ccc; /* underline */
    padding: 10px 0;
    font-size: 14px;
    outline: none;
    background: transparent;
}

.footer {
  background-color: #071629; 
  padding: 60px 20px;
  color: white;
}

.footer-content {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

/* Resize the logo to match Figma */
.footer-top img {
  width: 150px;
}

/* SOCIAL ICONS */
.social-icons {
  display: flex;
  gap: 25px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons img {
    width: 30px;     /* match Figma */
    height: 30px;
}


.footer p {
  font-size: 14px;
  opacity: 0.7;
}

@media screen and (max-width: 480px) {
  nav {
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
  }

  nav ul {
    flex-direction: column;
    gap: 15px;
  }

  .banner_section,
  .our_results,
  .what_we_do {
    padding: 60px 20px;
  }

   .what_we_do {
    flex-direction: column;
    gap: 40px;
  }

   .pentagon {
        width: 160px;
        height: 160px;
    }

    .percent {
        font-size: 26px;
    }

   .pentagons {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

   h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  .contact-form {
    width: 100%;
    padding: 0 20px;
  }

   .footer-top {
    flex-direction: column;
    gap: 30px;
  }
}